@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'iran_Bold';
        src: url(fonts/IRANSansWeb\(FaNum\)_Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'iran_Light';
        src: url(fonts/IRANSansWeb\(FaNum\)_Light.ttf) format('truetype');
    }
}